target/
build/
tmp
.gradle/
.settings/
.externalToolBuilders/
.cache
.py*
.vagrant
Makefile
tryout/
.idea
*.iml
*.o
Dockerfile
.vagrantuser
packer_cache
/gradle.properties
*.pk
.project
.classpath
bin/
obj/
lib/
*Tryout.java
*.~*
app.logpath_IS_UNDEFINED/

